spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        #music-service
        - id: music_service_get
          uri: lb://MUSIC-SERVICE
          predicates:
            - Path=/api/v1/musics/**
            - Method=GET
          filters:
            - name: RequestRateLimiter
              args:
                &readLimits
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                redis-rate-limiter.requestedTokens: 1
                key-resolver: "#{@userKeyResolver}"

            - name: InjectArtistId
        - id: music_service_write
          uri: lb://MUSIC-SERVICE
          predicates:
            - path=/api/v1/musics/**
            - Method=POST, PUT, DELETE
          filters:
            - name: RequestRateLimiter
              args:
                &writeLimits
                redis-rate-limiter.replenishRate: 2
                redis-rate-limiter.burstCapacity: 2
                redis-rate-limiter.requestedTokens: 1
                key-resolver: "#{@userKeyResolver}"

                # user-service
        - id: user_service_get
          uri: lb://USER-SERVICE
          predicates:
            - path=/api/v1/users/**
            - method=GET
          filters:
            - name: RequestRateLimiter
              args:
                *readLimits
        - id: user_service_write
          uri: lb://USER_SERVICE
          predicates:
            - path=/api/v1/users/**
            - method= POST, PUT, DELETE
          filters:
            - name: RequestRateLimiter
              args:
                *writeLimits

              #artist-service
        - id: artist_service_get
          uri: lb://ARTIST-SERVICE
          predicates:
            - path=/api/v1/artists/**
            - method= GET
          filters:
            - name: RequestRateLimiter
              args:
                *readLimits
        - id: artist_service_write
          uri: lb://ARTIST-SERVICE
          predicates:
            - path=/api/v1/artists/**
            - method= POST,PUT,DELETE
          filters:
            - name: RequestRateLimiter
              args:
                *writeLimits

              #search-service
        - id: search_service
          uri: lb://SEARCH-SERVICE
          predicates:
            - path=/api/v1/search/**
          filters:
            - name: RequestRateLimiter
              args:
              #api de busca tem um limite maior de operações
                *readLimits











eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/